<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <title>Tasks</title>
  
  <meta name="description" content=".">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <link rel="stylesheet" href="{{STATIC_URL}}stylesheets/style.css">
  <script src= "{{STATIC_URL}}javascripts/underscore.js" type="text/javascript" charset="utf-8"></script>
  <script src= "{{STATIC_URL}}javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src= "{{STATIC_URL}}javascripts/tasks.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/template" id="task-template">
   <div id="<%= id %>" class="task">
       <input type="checkbox" <%=  complete ? "checked" : ""  %> >
       <%= content %>
       <a href="#delete" data-id="<%= id %>" > Eliminar </a>
    </div>
  </script>
</head>
<body>
    <h1>Tareas por hacer</h1>
    <input type="text" placeholder="Agregar nueva tarea" />
    <ul id="task-list"></ul>
</body>
